@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');
.jumbotron{
    background-image: url("../img/weather_background/cloudy.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    height: 60vh;
    font-family: "Raleway";
    border-radius: 0;
    position: relative;
}
.jbn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tmp_txt{
    font-weight: 900;
    font-size: 15vh;
}
#wth_icon{
    font-size: 12vh;
}
.separator{
    margin-top: 100px;
    margin-bottom: 100px;
}
.card{
    border-radius: 0;
}
.card-header{
    font-size: 34px;
    font-family: "Raleway";
}
            .GaugeMeter{
                Position: Relative;
                Text-Align: Center;
                Overflow: Hidden;
                Cursor: Default;
            }
            .GaugeMeter SPAN,
            .GaugeMeter B{
                Margin:	0 23%;
                Width: 54%;
                Position: Absolute;
                Text-Align: Center;
                Display: Inline-Block;
                Color: RGBa(0,0,0,.8);
                Font-Weight: 100;
                Font-Family: "Open Sans", Arial;
                Overflow: Hidden;
                White-Space: NoWrap;
                Text-Overflow: Ellipsis;
            }
            .GaugeMeter[data-style="Semi"] B{
                Margin: 0 10%;
                Width: 80%;
            }
            .GaugeMeter S,
            .GaugeMeter U{
                Text-Decoration:None;
                Font-Size: .60em;
                Font-Weight: 200;
                Opacity: .6;
            }
            .GaugeMeter B{
                Color: Black;
                Font-Weight: 200;
                Font-Size: 0.85em;
                Opacity: .8;
            }